<app-form-data></app-form-data>
<app-overview-card></app-overview-card>
<app-generic-retractable-card [type]="'linear'" ></app-generic-retractable-card>
<app-generic-retractable-card [type]="'quadratic'" ></app-generic-retractable-card>
<app-generic-retractable-card [type]="'cubic'" ></app-generic-retractable-card>
<app-generic-retractable-card [type]="'exp'" ></app-generic-retractable-card>
<app-generic-retractable-card [type]="'logaritmic'" ></app-generic-retractable-card>
<app-generic-retractable-card [type]="'n_logaritmic'" ></app-generic-retractable-card>
<app-generic-retractable-card [type]="'n2_logaritmic'" ></app-generic-retractable-card>
<app-generic-retractable-card [type]="'n_logaritmic2'" ></app-generic-retractable-card>
<app-generic-retractable-card [type]="'power'" ></app-generic-retractable-card>
